.custom-button {
    cursor: pointer;
    display: inline-block;
    min-width: 54px !important;
    width: max-content;
    text-align: center;
    padding: 4px 16px 6px 16px !important;
    border-radius: 19px;
    line-height: 24px;
    font-size: 16px;
}